#mapPage {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#listRegion {
    width: 100%;
    max-height: 88vh;
    z-index: 2;
    overflow-y: scroll;
}

#searchBlock {
    margin-top: 1%;
    position: relative;
    z-index: 2;
    width: 29rem;
    float: right;
}

#listView {

}

#searchRegion {
    width: 100%;
}

body, html {
    width: 100%;
    height: 100%;
}

#upPanel{
    position: relative;
    z-index: 2;
    float: left;
    width: 70vw;
    background-color: gainsboro;
}